@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(-45deg, rgb(18, 19, 21), rgb(22, 23, 25));
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  max-height: 500px;
  height: 340px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 380px;
  height: 100vh;
  cursor: default;
}

h1 {
  font-size: 1.8em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#app {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
#app > div {
  height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
