/* //header */
html body div#root header[class^="header_container__"] {
  position: fixed;
  top: -100px !important;
  left: 42.5%;
  width: calc(100% - 20px);
  /* max-width: 1200px; */
  /* min-width:auto; */
  border-radius: 30px;
  background-color: rgba(20, 21, 23, 0.7);
  backdrop-filter: blur(10px);
  transform: scale(0.85) translateX(-50%);
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: top 0.5s, opacity 0.3s;
}
html body div#root header[class^="header_container__"].tool-active {
  opacity: 1;
  top: 10px !important;
}

html body div#root header[class^="header_container__"] form[role="search"] {
  margin-top: -2px;
}

#layout-body {
  height: 100vh;
  padding-left: 0px;
}

#layout-body > section[class^="live_container__"] {
  height: 100vh !important;
}
#layout-body > section[class^="live_container__"] main > div:nth-child(1) {
  display: block;
  max-height: none;
  /* height: 100vh !important; */
}

#layout-body
  > section[class^="live_container__"]
  main
  > div:nth-child(1)
  > div:nth-child(1) {
  height: 100vh !important;
}

html {
  background-color: rgb(255, 255, 255) !important;
}

html body div#root > div > aside[class^="aside_container__"] {
  position: fixed;
  top: 200px !important;
  pointer-events: none;
  /* background:#fff !important; */
}
html body div#root > div > aside[class^="aside_container__"] > div {
  height: auto;
  background: transparent !important;
}

html
  body
  div#root
  > div
  > aside[class^="aside_container__"]
  div[class^="aside_content__"]
  > nav:not(:nth-child(2)) {
  display: none;
}

/* //side bar */
html
  body
  div#root
  > div
  > aside[class^="aside_container__"]
  div[class^="aside_content__"]
  > nav:nth-child(2) {
  position: fixed;
  top: 50%;
  left: -200px;
  padding: 10px;
  background-color: rgba(20, 21, 23, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  transform: scale(0.9) translateY(-50%);
  opacity: 0;
  transition: left 0.5s, opacity 0.3s;
}

html
  body
  div#root
  > div
  > aside[class^="aside_container__"]
  nav[class^="navigation_bar_section__"]:nth-child(2).tool-active {
  pointer-events: auto;
  left: 0px;
  opacity: 1;
}

html
  body
  div#root
  > div
  > aside[class^="aside_container__"]
  div[class^="aside_content__"]
  > nav:nth-child(2)::before {
  content: "";
  display: none;
}

#aside-chatting {
  /* max-width: 320px; */
}
